*{
    box-sizing: border-box;
}

.container {
    border: 4px solid lightgrey;
    padding: 24px 24px 0px 24px;
    display: flex;
    justify-content: space-between;
     }

.box{
    border: 4px solid lightgrey;
    margin-bottom: 24px;
}

.box-small{
height: 50px;
}

.box-wrapper{
    width: 45%;
    display: flex;
    flex-direction: column;
}

.box-large {
width: 45%;
}